<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="p2694202ConnectionString" connectionString="Data Source=v00egd00002l.lec-admin.dmu.ac.uk;Initial Catalog=p2694202;User ID=p2694202;Password=teamFlyAirplane2024"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
</configuration>